@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

@layer base {
  body {
    @apply font-sans text-slate-900 bg-slate-50 antialiased;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }
}
